body{
    background-image: url(assets/fundo4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main{
    margin-top: 200px;
    margin-bottom: 300px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 21px;
    color: #eae8e8;
    text-align: center;

}

